<%- include('parts/header') %>




<section class="my-5">
    <h1 class="text-center">File Upload</h1>
    <div class="container my-5 d-flex justify-content-between">
        
       <div>
           <h2 class="text-center my-3">Incoming</h2>
           <form method="POST" class="form-control mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" style="width: 30rem;">
            <input type="number" class="form-control my-3" id="floatingNumber" placeholder="Enter the amount" >
            <button class="btn btn-primary" type="button" style="width: 30rem;">Button</button>
           </form>
       </div>


          <div>
            <h2 class="text-center my-3">Outcoming</h2>
            <form method="POST" class="form-control mb-3">
             <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" style="width: 30rem;">
             <input type="number" class="form-control my-3" id="floatingNumber" placeholder="Enter the amount" >
             <button class="btn btn-primary" type="button" style="width: 30rem;">Button</button>
            </form>
        </div>

         
    </div>

    <div class="card border-light mb-3 m-auto" style="max-width: 25rem;">
        <h2 class="card-header">Header</h2>
          <h5 class="card-title card-body">Light card title</h5>
      </div>
</section>